<?xml version="1.0" ?>
<model>
    <name>parkmaze</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Carlos Martin</name>
        <email>carlesmartin@icloud.com</email>
    </author>
    <description>Park maze for a robotic dog training</description>
</model>
