<?xml version="1.0" ?>
<model>
    <name>baylands</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Carlos Martin</name>
        <email>carlesmartin@icloud.com</email>
    </author>
    <description>Exact copy from http://models.gazebosim.org/baylands</description>
</model>
